<<<<<<< HEAD
.po_pdf_logo{
	background: url(../img/logo_bg.png) no-repeat;
	height: 67px;
=======
.po_pdf_logo{
	background: url(../img/logo_bg.png) no-repeat;
	height: 67px;
>>>>>>> 814faae5d63c225913c29c7f628440a425af8b16
}